.content
    each val in [{id:"uno", cont:"About Us"},{id:"dos", cont:"Pricelist"},{id:"tres", cont:"Testimonials"},{id:"cuatro", cont:"Contact Us"}]
        section(id=val.id)
            h2= val.cont